h1{
    
    color: grey;
    text-align: center;
    font-size: 50px;
    font-family: 'Love Ya Like A Sister', sans-serif;
}

.question{
    
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;
     color: grey;
     display: block;
     font-size: 18px;
     background-color: #fff1a3;
     border-radius: 15px;
     padding-top: 10px; 
     padding-bottom: 2px; 
     margin: 10px;
    
    
}

p{
    text-align: center;
    
    position: relative;
    display: inline;

    
}

li{
        width: 10%;
   background-color: #a8c9ff;
    font-size: 20px;
    list-style-type: none;
    border: 2px solid #324c77;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
}

.correctAnswer {
    background-color: #77FF41;
}

.correctAnswer:hover {
    background-color: #77FF41;
}

.incorrectAnswer {
    background-color: red;
}

.incorrectAnswer:hover {
    background-color: red;
}

li:hover{
    background-color: #CADEFF;
}

.answered li:hover {
    cursor: default;
}

.usersScore{
    background-color: #CF2360;
    border-radius: 50%;
	width: 110px;
	height: 100px; 
   z-index: 99;
	text-align: center;
    position: fixed;
    right: 40px;
    top: 200px;
}

.usersScore div{
    position: relative;
    top: 40%;
    color: white;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

#reset{
    margin: auto;
     background-color: #CF2360;
    border-radius: 10%;
	width: 200px;
	height: 50px; 
    
	text-align: center;
    display: block;   
}

#reset p {
    top: 40%;
    color: white;
}


 
