h1{
    
    color: grey;
    text-align: center;
    font-size: 50px;
    font-family: 'Love Ya Like A Sister', sans-serif;
}

div{
    
    text-align: center;
    font-family: 'Love Ya Like A Sister', sans-serif;
     color: grey;
     display: block;
     font-size: 18px;
     background-color: #fff1a3;
     border-radius: 15px;
     padding-top: 10px; 
     padding-bottom: 2px; 
     margin: 10px;
    
    
}

p{
    text-align: center;
    
    position: relative;
    display: inline;

    
}



.answer{
        width: 10%;
   background-color: #a8c9ff;
    font-size: 20px;
    list-style-type: none;
    border: 2px solid #324c77;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}


 
